.login-wrapper {
  width: 25%;
  height: 400px;
  box-shadow: 0 0 20px 0 #ffffff9a;
  border-radius: 5px;
  padding: 1.5em;
  background-color: rgba(0, 0, 0, 0.05);
}

.login-form {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
}

.input-field {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5em;
}

.error-message {
  width: 100%;
  display: flex;
  justify-content: center;
}
