.home-page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  width: 85%;
  height: 70vh;
}

.welcome-section {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.welcome-section > h1 {
  font-size: 2em;
}

.enter-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin: 2em 0;
}
