header {
  height: 12vh;
  width: 100%;
  display: flex;
  justify-content: center;
  box-shadow: 0 -10px 20px 0px #fff;
}

.header-wrapper {
  width: 85%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-wrapper > h1 {
  font-size: 1.75em;
}

.header-wrapper .list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2em;
}

.inActive-input {
  color: #ffffffbd;
  transition: all 200ms ease-in;
}

.active-input {
  cursor: pointer;
  color: #fff;
}
