header {
  height: 12vh;
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #fff;
}

.header-wrapper {
  width: 85%;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-wrapper > h1 {
  font-size: 1.75em;
}

.header-wrapper .list {
  list-style: none;
  display: flex;
  gap: 2em;
}
